
# Ignore everything in the root except the "wp-content" directory.
/*

!.gitignore
!.htaccess 
!dumps/
!wp-content/
 
# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/lbp-css/ldf/
!wp-content/wp-cache-config.php
!wp-content/advanced-cache.php
!wp-content/languages
!wp-content/maintenance


.DS_Store