<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Prevent font hotlinking (403)" stopProcessing="true">
                    <match url=".*\.(eot|woff|svg|ttf)(\?.*)?$" />
                    <conditions>
                        <add input="{HTTP_REFERER}" pattern="^http(s)?:\/\/([^/]+\.)?hear.fr/.*$" negate="true" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Set Cache-Control Header">
                    <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern=".*\.(eot|woff|svg|ttf)(\?.*)?$" />
                    </conditions>
                    <action type="Rewrite" value="must-revalidate" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>